.pic-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 60px;
}


/* .tit {
    background-color: #1a1212;
    color: #ff4838;
    margin-top: 60px;
}

.tit p {
    padding: 15px;
    margin: 0;
    margin-left: 35px;
} */

.img-con {
    background-color: #444040;
    min-height: 330px;
    width: 400px;
    margin: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}
